.create-place-button {
	border: none;
	width: 12rem;
	height: 2rem;
	background-color: #ff5a5f;
	border-radius: 4px;
}
.create-place-button:hover {
	color: white;
	cursor: pointer;
}
.add-place-header {
	margin-top: -9px;
	padding: 0px;
}
.input {
	height: 2rem;
}
.input-container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.input-container label {
	position: absolute;
	transform: translate(0, 16px) scale(1);
	transform-origin: top left;
	transition: 200ms ease-out;
	font-size: 16px;
	line-height: 1;
	left: 12px;
}

.input-container:focus-within label {
	transform: translate(0, 5px) scale(0.75);
}

.input-container .filled {
	transform: translate(0, 5px) scale(0.75);
}

.add-place {
	font-size: 16px;
	padding-top: 11px;
	padding-left: 10px;
	margin: 2px;
}

.select-wrap {
	border: solid #767676 0.005px;
	color: black;
	position: relative;
	margin: 2px 0px 2px 2px;
	height: 3em;
	border-radius: 2px;
	overflow: hidden;
	width: 30.5rem;
}

.select-wrap label {
	font-size: 12px;
	color: #777;
	padding: 0 8px;
	position: absolute;
	top: 6px;
	margin-left: -3px;
}

select {
	margin-left: 4px;
	font-size: 14px;
	width: 98%;
	height: 59px;
	cursor: pointer;
	border: none;
}

select:focus {
	outline: none;
}
select::-webkit-scrollbar {
	border-radius: 10px;
	width: 18px;
}

select::-webkit-scrollbar-track {
	background: #ffffff;
}

select::-webkit-scrollbar-thumb {
	background: #767676;
	border-radius: 10px;
}

select::-webkit-scrollbar-thumb:hover {
	background: #484848;
}

select > option {
	font-size: 16px;
	width: 75%;
	height: 20px;
	margin: 20px;
}

.form-button {
	width: 100%;
	color: white;
	background-color: #ff5a5f;
	border: none;
	border-radius: 4px;
	height: 3em;
}

.image-upload-div {
	margin: 12px 0px 12px 2px;
	display: flex;
	justify-content: space-between;
}

.image-upload-input {
	width: 95%;
	height: 1.5rem;
	margin-right: 10px;
}

.image-upload-button-div {
	display: flex;
}
.image-upload-button {
	height: 1.75rem;
	margin: 2px;
	color: white;
	background-color: #3a3939;
	border: none;
	border-radius: 4px;
}
