.create-place-button {
    border: none;
    width: 12rem;
    height: 2rem;
    background-color: #FF5A5F;
    border-radius: 4px;
}
.create-place-button:hover {
    color: white;
    cursor: pointer;
}
.add-place-header {
    margin-top: -9px;
    padding: 0px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

.input-container label {
    position: absolute;
    transform: translate(0, 7px) scale(1);
    transform-origin: top left;
    transition: 200ms ease-out;
    font-size: 16px;
    line-height: 1;
    left: 12px;
}

.input-container:focus-within label {
    transform: translate(0, -9px) scale(0.75)
}

.input-container .filled {
    transform: translate(0, -9px) scale(0.75)
  }

.add-place {
    font-size: 16px;
    padding-top: 11px;
    padding-left: 10px;
}

.select-wrap {
    padding: 0 5px;
    border: solid rgb(218, 215, 215) .005px;
    border-radius: 4px;
    position: relative;
    margin: -15px 0px 14px 0px;
    height: 3em;
  }
  .select-wrap label{
    font-size:12px;
    color: #777;
    padding: 0 8px;
    position: absolute;
    top:6px;
    margin-left: -3px;
  }

  select{
    margin-left: 4px;
    font-size: 14px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    border: 0px;
    outline: none;
  }

select > option {
    font-size: 16px;
    width: 75%;
    height: 20px;
    margin: 20px;


}
::-webkit-scrollbar {
    border-radius: 10px;
    width: 18px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #767676;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #484848;
  }
