.images-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
}

.images-container::-webkit-scrollbar {
    border-radius: 6px;
	height: 10px;
}

.images-container::-webkit-scrollbar-track {
    background: #ffffff;
}

.images-container::-webkit-scrollbar-thumb {
    background: #a3a1a1;
	border-radius: 6px;
    width: 1rem;
}

.images-container::-webkit-scrollbar-thumb:hover {
    background: #484848;
}

.image-div {
    width: 500px;
    height: 400px;
    margin-bottom: -4rem;
}

.place-images {
    min-width: 90%;
    height: 80%;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.place-info-parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    border-top: 1px solid rgb(216, 215, 218);
    margin: 2rem 0 2rem 0;
}
.place-info-div {
    display: flex;
    flex-direction: column;
    width: 36%;
}
.place-name-heading {
    color: black;
}

.place-description {
    color: black;
}

.place-form-and-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5rem;
}

.place-id-login {
    border: none;
    background-color: transparent;
    font-size: 1em;
    text-decoration: underline;
}

.place-id-login:hover {
    color: #ff5a5f;

}
