.delete-booking-button{
    width: 100%;
    color: white;
    background-color: #646464;
    border: none;
    border-radius: 4px;
    height: 3em;
    margin-left: 1rem;
}

.delete-submit-button{
    border: none;
	width: 10rem;
	height: 2rem;
    color: white;
	background-color: #ff5a5f;
	border-radius: 4px;
    }

.delete-submit-button:hover {
        color: black
    }

.delete-cancel-button{
    border: none;
    color: white;
	width: 10rem;
	height: 2rem;
	background-color: #646464;
	border-radius: 4px;
    }
    
.delete-cancel-button:hover {
        color: black;
    }
